# Import libraries

In [140]:
import pandas as pd

## Read data

In [141]:
path ='../data/car_price.csv'
df = pd.read_csv(path)
df.head()

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats

# Describe data

In [142]:
def describle_data():
    print('Shape of data:\n', df.shape)
    print('--'*20)
    print('Columns of data: \n', df.columns)
    print('--'*20)
    print('Data types of data: \n', df.dtypes)
    print('--'*20)
    print('Missing values of data: \n', df.isnull().sum())
    print('--'*20)
    print('Describe data: \n', df.describe())
    print('--'*20)
    print('Info data: \n', df.info())
describle_data()

Shape of data:
 (5512, 10)
----------------------------------------
Columns of data:
 Index(['Unnamed: 0', 'car_name', 'car_prices_in_rupee', 'kms_driven',
       'fuel_type', 'transmission', 'ownership', 'manufacture', 'engine',
       'Seats'],
      dtype='object')
----------------------------------------
Data types of data:
 Unnamed: 0              int64
car_name               object
car_prices_in_rupee    object
kms_driven             object
fuel_type              object
transmission           object
ownership              object
manufacture             int64
engine                 object
Seats                  object
dtype: object
----------------------------------------
Missing values of data:
 Unnamed: 0             0
car_name               0
car_prices_in_rupee    0
kms_driven             0
fuel_type              0
transmission           0
ownership              0
manufacture            0
engine                 0
Seats                  0
dtype: int64
----------------------------------------
Describe data:
         Unnamed: 0  manufacture
count  5512.000000  5512.000000
mean   2755.500000  2015.455552
std    1591.321673     3.927974
min       0.000000  1995.000000
25%    1377.750000  2013.000000
50%    2755.500000  2016.000000
75%    4133.250000  2018.000000
max    5511.000000  2022.000000
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5512 non-null   int64
 1   car_name             5512 non-null   object
 2   car_prices_in_rupee  5512 non-null   object
 3   kms_driven           5512 non-null   object
 4   fuel_type            5512 non-null   object
 5   transmission         5512 non-null   object
 6   ownership            5512 non-null   object
 7   manufacture          5512 non-null   int64
 8   engine               5512 non-null   object
 9   Seats                5512 non-null   object
dtypes: int64(2), object(8)
memory usage: 430.8+ KB
Info data:
 None

# Preprocessing data

Calculating prices in rupee and change it to VND
First move Lakh from price to new column and then change it to VND
Lakh is 100000 rupee
Crore is 10000000 rupee
1 rupee = 284.35 VND (6/5/2023)

 The import tax for cars from non-ASEAN regions to Vietnam is 70%, and the special consumption tax ranges from 40-150%. India has an import tax of 60% and a special consumption tax ranging from 12.5-30%.
 So we will calculate tax for car price in VND is about 47.222% larger than price car in India

In [143]:
def convert_price(price):
    value, unit = price.split(' ')
    value = value.replace(',', '.')
    if unit == 'Lakh':
        return float(value) * 100000
    elif unit == 'Crore':
        return float(value) * 10000000
    else:
        return float(value)

def change_price_to_vnd(price):
    return price * 284.35
def calculate_tax(price):
    return price*1.4722

df['car_prices_in_rupee'] = df['car_prices_in_rupee'].apply(convert_price)
df.rename(columns={'car_prices_in_rupee': 'car_prices_in_vnd'}, inplace=True)
df['car_prices_in_vnd'] = df['car_prices_in_vnd'].apply(change_price_to_vnd).apply(calculate_tax)

In [144]:
df.head()

,Unnamed: 0,car_name,car_prices_in_vnd,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,0,Jeep Compass 2.0 Longitude Option BSIV,4.198759e+08,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,1,Renault Duster RXZ Turbo CVT,5.370895e+08,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,2,Toyota Camry 2.5 G,6.865369e+08,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,3,Honda Jazz VX CVT,3.252678e+08,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,4,Volkswagen Polo 1.2 MPI Highline,2.155893e+08,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats

Convert driven km to float

In [145]:
def convert_driven_km(driven_km):
    value= driven_km.split(' ')[0]
    value = value.replace(',', '.')
    return float(value)
df['kms_driven'] = df['kms_driven'].apply(convert_driven_km)

ValueError: could not convert string to float: '1.10.284'

In [ ]:
df['kms_driven'].head()

ownership column

In [ ]:
df['ownership']=df['ownership'].astype(str)
df['ownership']=df['ownership'].str[0]
df['ownership'].head()
df['ownership']=df['ownership'].astype(int)

<bound method Series.info of 0       4.198759e+08
1       5.370895e+08
2       6.865369e+08
3       3.252678e+08
4       2.155893e+08
            ...
5507    1.209812e+09
5508    2.716844e+09
5509    5.756026e+08
5510    1.251674e+09
5511    1.335398e+09
Name: car_prices_in_vnd, Length: 5512, dtype: float64>